<div class="player" #music>
</div>

<div class="wrapper" *ngIf="!showLettersAnimated">
    <div class="frame frame1">
        <span class="letter-animate" style="color: rgb(0, 68, 255);">
            <span class="letter-item">o</span>
        </span>
    </div>
    
    <div class="frame frame2">
        <span class="letter-animate" style="color: rgb(255, 0, 187);">
            <span class="letter-item">?</span>
        </span>
    </div>

    <div class="frame frame3">
        <span class="letter-animate" style="color: rgb(13, 255, 0);">
            <span class="letter-item">a</span>
        </span>
    </div>

    <div class="frame frame4">
        <span class="letter-animate" style="color: rgb(149, 0, 255);">
            <span class="letter-item">m</span>
        </span>
    </div>

    <div class="frame frame5">
        <span class="letter-animate" style="color: rgb(251, 0, 255);">
            <span class="letter-item">a</span>
        </span>
    </div>

    <div class="frame frame6">
        <span class="letter-animate" style="color: rgb(38, 255, 0);">
            <span class="letter-item">q</span>
        </span>
    </div>

    <div class="frame frame7">
        <span class="letter-animate" style="color: rgb(153, 0, 255);">
            <span class="letter-item">u</span>
        </span>
    </div>

    <div class="frame frame8">
        <span class="letter-animate" style="color: rgb(149, 255, 0);">
            <span class="letter-item">n</span>
        </span>
    </div>

    <div class="frame frame9">
        <span class="letter-animate" style="color: rgb(85, 0, 255);">
            <span class="letter-item">r</span>
        </span>
    </div>

    <div class="frame frame10">
        <span class="letter-animate" style="color: rgb(255, 255, 0);">
            <span class="letter-item">P</span>
        </span>
    </div>

    <div class="frame frame11">
        <span class="letter-animate" style="color: rgb(255, 111, 0);">
            <span class="letter-item">o</span>
        </span>
    </div>

    <div class="frame frame12">
        <span class="letter-animate" style="color: rgb(0, 255, 225);">
            <span class="letter-item">a</span>
        </span>
    </div>

    <div class="frame frame13">
        <span class="letter-animate" style="color: rgb(255, 247, 0);">
            <span class="letter-item">u</span>
        </span>
    </div>

    <div class="frame frame14">
        <span class="letter-animate" style="color: rgb(221, 0, 255);">
            <span class="letter-item">e</span>
        </span>
    </div>

    <div class="frame frame15">
        <span class="letter-animate" style="color: rgb(128, 255, 0);">
            <span class="letter-item">g</span>
        </span>
     
  
    </div>

    <div class="frame frame16">
        <span class="letter-animate" style="color: rgb(255, 213, 0);">
            <span class="letter-item">i</span>
        </span>
    </div>

    <div class="frame frame17">
        <span class="letter-animate" style="color: rgb(255, 0, 195);">
            <span class="letter-item">m</span>
        </span>
    </div>

    <div class="frame frame18">
        <span class="letter-animate" style="color: rgb(170, 255, 0);">
            <span class="letter-item">i</span>
        </span>
      
    </div>

    <div class="frame frame19">
        <span class="letter-animate" style="color: rgb(0, 179, 255);">
            <span class="letter-item">r</span>
        </span>

    </div>

    <div class="frame frame20">
        <span class="letter-animate" style="color: rgb(0, 119, 255);">
            <span class="letter-item">a</span>
        </span>
    </div>

    <div class="frame frame21">
        <span class="letter-animate" style="color: rgb(0, 17, 255);">
            <span class="letter-item">o</span>
        </span>
     
    </div>

    <div class="frame frame22">
        <span class="letter-animate" style="color: rgb(255, 200, 0);">
            <span class="letter-item">r</span>
        </span>
   
    </div>

    <div class="frame frame23">
        <span class="letter-animate" style="color: rgb(0, 255, 0);">
            <span class="letter-item">c</span>
        </span>

    </div>

    <div class="frame frame24">
        <span class="letter-animate" style="color: rgb(255, 213, 0);">
            <span class="letter-item">i</span>
        </span>
    </div>

    <div class="frame frame25">
        <span class="letter-animate" style="color: rgb(238, 255, 0);">
            <span class="letter-item">E</span>
        </span>
    </div>
</div>  


<div class="anim-wrap" *ngIf="showLettersAnimated">
    <div class="anim-text anim" data-effect="converge">
        <span class="char letter" style="color: rgb(238, 255, 0);">
            <span class="letter-inner">E</span>
        </span>
        <span class="char letter" style="color: rgb(255, 213, 0);">
            <span class="letter-inner">i</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 140);">
            <span class="letter-inner">,</span>
        </span>

        <br>
        <span class="char space" style="color: rgb(0, 255, 55);">
            <span class="letter-inner">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(255, 255, 0);">
            <span class="letter-inner">P</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 225);">
            <span class="letter-inner">a</span>
        </span>
        <span class="char letter" style="color: rgb(255, 247, 0);">
            <span class="letter-inner">u</span>
        </span>
        <span class="char letter" style="color: rgb(255, 30, 0);">
            <span class="letter-inner">l</span>
        </span>
        <span class="char letter" style="color: rgb(251, 0, 255);">
            <span class="letter-inner">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 170, 255);">
            <span class="letter-inner">,</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(47, 255, 0);">
            <span class="letter-inner">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(38, 255, 0);">
            <span class="letter-inner">q</span>
        </span>
        <span class="char letter" style="color: rgb(153, 0, 255);">
            <span class="letter-inner">u</span>
        </span>
        <span class="char letter" style="color: rgb(221, 0, 255);">
            <span class="letter-inner">e</span>
        </span>
        <span class="char letter" style="color: rgb(255, 200, 0);">
            <span class="letter-inner">r</span>
        </span>
        <span class="char space" style="color: rgb(255, 102, 0);">
            <span class="letter-inner">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(149, 255, 0);">
            <span class="letter-inner">n</span>
        </span>
        <span class="char letter" style="color: rgb(13, 255, 0);">
            <span class="letter-inner">a</span>
        </span>
        <span class="char letter" style="color: rgb(149, 0, 255);">
            <span class="letter-inner">m</span>
        </span>
        <span class="char letter" style="color: rgb(0, 17, 255);">
            <span class="letter-inner">o</span>
        </span>
        <span class="char letter" style="color: rgb(85, 0, 255);">
            <span class="letter-inner">r</span>
        </span>
        <span class="char letter" style="color: rgb(0, 119, 255);">
            <span class="letter-inner">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 179, 255);">
            <span class="letter-inner">r</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(26, 255, 0);">
            <span class="letter-inner">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 0);">
            <span class="letter-inner">c</span>
        </span>
        <span class="char letter" style="color: rgb(0, 68, 255);">
            <span class="letter-inner">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 195);">
            <span class="letter-inner">m</span>
        </span>
        <span class="char letter" style="color: rgb(170, 255, 0);">
            <span class="letter-inner">i</span>
        </span>
        <span class="char letter" style="color: rgb(128, 255, 0);">
            <span class="letter-inner">g</span>
        </span>
        <span class="char letter" style="color: rgb(255, 111, 0);">
            <span class="letter-inner">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 187);">
            <span class="letter-inner">?</span>
        </span>

        <br>

        <span class="char letter" style="color: rgb(255, 0, 187); font-size: 1.2rem;">
            <span class="letter-inner">(Agora de forma oficial)</span>
        </span>

        <div class="tip tip-type char letter" style="color: rgb(255, 0, 187);" (click)="goToDeclaration()">
            <svg class="letter-inner" color="orange" cleacwidth="100px" height="100px" viewBox="0 0 100 100">
                <path d="M90.3,85.8c0,0,0-0.5-0.1-1.5c-0.1-1-0.1-2.5-0.2-4.3c-0.1-0.9-0.2-1.9-0.2-3c-0.1-1.1-0.3-2.3-0.4-3.6
                    c-0.1-0.6-0.1-1.3-0.3-2c-0.1-0.7-0.2-1.4-0.4-2.1c-0.1-0.7-0.2-1.4-0.4-2.2c-0.2-0.7-0.3-1.5-0.5-2.2c-0.7-3.1-1.7-6.3-2.9-9.7
                    c-1.3-3.3-2.7-6.9-4.6-10.3c-1.9-3.4-4.3-6.8-7-9.8c-2.8-3.1-6.1-5.7-9.5-8.1c-3.4-2.4-7-4.5-10.6-6.6c-3.6-2.1-7.2-3.9-10.7-5.7
                    c-3.5-1.8-7.1-3.3-10.4-4.7c-3.4-1.3-6.7-2.3-9.8-3.2c-3.1-0.9-5.9-1.6-8.5-2.2c-2.5-0.6-4.8-1-6.6-1.4C5.4,2.8,3.9,2.6,2.9,2.4
                    C2,2.3,1.4,2.2,1.4,2.2l0,0C1.1,2.1,0.9,1.8,1,1.5C1,1.2,1.3,1,1.6,1.1c0,0,0.5,0.1,1.5,0.2c1,0.1,2.5,0.2,4.3,0.5
                    c0.9,0.1,2,0.3,3.1,0.4c1.1,0.2,2.3,0.4,3.6,0.6c2.6,0.4,5.5,1,8.7,1.7C26,5.1,29.4,6,33,6.9C36.6,8,40.4,9,44.3,10.5
                    C48.1,12,52,13.7,55.7,16c3.7,2.2,7.3,4.8,10.6,7.8c0.8,0.7,1.6,1.5,2.4,2.3c0.8,0.8,1.6,1.5,2.3,2.3c1.5,1.6,3,3.2,4.4,4.8
                    c2.8,3.3,5.3,6.7,7.6,10.1c1.1,1.8,2.1,3.5,3,5.3c1,1.7,1.7,3.6,2.4,5.3c1.3,3.6,2.2,7,2.8,10.3c0.1,0.8,0.3,1.6,0.4,2.4
                    c0.1,0.8,0.2,1.5,0.3,2.3c0.2,1.5,0.3,2.9,0.3,4.2c0.1,2.7,0,5-0.1,6.9c-0.1,1.9-0.3,3.4-0.4,4.4c-0.1,1-0.2,1.5-0.2,1.5
                    c0,0.3-0.3,0.5-0.6,0.5C90.5,86.3,90.3,86.1,90.3,85.8z"/>
                <path d="M78.5,77.4c0.8,0.5,1.5,1.1,2.2,1.7c0.4,0.3,0.7,0.6,1.1,1c0.3,0.3,0.7,0.7,1,1c0.6,0.7,1.3,1.4,1.8,2.2
                    c0.6,0.8,1.1,1.5,1.6,2.4c1,1.6,1.8,3.3,2.6,5l1.2,2.5c0.2,0.4,0.4,0.8,0.6,1.2c0.2,0.4,0.5,0.8,0.7,1.2l-3,0
                    c0.3-0.7,0.7-1.4,1.1-2.1c0.4-0.7,0.9-1.3,1.3-2l2.3-4.3c0.8-1.4,1.5-2.9,2.3-4.3c0.8-1.4,1.7-2.8,2.7-4.1
                    c0.2-0.2,0.4-0.2,0.6-0.1c0.2,0.1,0.2,0.4,0.1,0.6l0,0c-0.9,1.3-1.6,2.7-2.2,4.2c-0.6,1.5-1.2,2.9-1.8,4.4l-1.7,4.5
                    c-0.3,0.7-0.5,1.6-0.7,2.3c-0.2,0.8-0.6,1.5-1,2.2l-1.8,3l-1.2-3c-0.4-0.9-0.7-1.7-1.1-2.6c-0.4-0.8-0.8-1.7-1.2-2.5l-1.2-2.4
                    c-0.4-0.8-0.8-1.6-1.3-2.4c-0.8-1.6-1.7-3.1-2.7-4.6c-0.2-0.4-0.5-0.8-0.7-1.1c-0.3-0.4-0.5-0.7-0.8-1.1c-0.3-0.3-0.5-0.7-0.8-1.1
                    c-0.3-0.4-0.6-0.7-0.9-1.1c-0.2-0.3-0.1-0.6,0.1-0.8C78.1,77.2,78.3,77.2,78.5,77.4z"/>
            </svg>
        </div>
    </div>
</div>

