<div class="anim-wrap">
    <div class="anim-text anim" contenteditable="" data-effect="converge">
        <span class="char letter" style="color: rgb(238, 255, 0);">
            <span class="letter-inner" style="">E</span>
        </span>
        <span class="char letter" style="color: rgb(255, 213, 0);">
            <span class="letter-inner" style="">i</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 140);">
            <span class="letter-inner" style="">,</span>
        </span>

        <br>
        <span class="char space" style="color: rgb(0, 255, 55);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(255, 255, 0);">
            <span class="letter-inner" style="">P</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 225);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(255, 247, 0);">
            <span class="letter-inner" style="">u</span>
        </span>
        <span class="char letter" style="color: rgb(255, 30, 0);">
            <span class="letter-inner" style="">l</span>
        </span>
        <span class="char letter" style="color: rgb(251, 0, 255);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 170, 255);">
            <span class="letter-inner" style="">,</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(47, 255, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(38, 255, 0);">
            <span class="letter-inner" style="">q</span>
        </span>
        <span class="char letter" style="color: rgb(153, 0, 255);">
            <span class="letter-inner" style="">u</span>
        </span>
        <span class="char letter" style="color: rgb(221, 0, 255);">
            <span class="letter-inner" style="">e</span>
        </span>
        <span class="char letter" style="color: rgb(255, 200, 0);">
            <span class="letter-inner" style="">r</span>
        </span>
        <span class="char space" style="color: rgb(255, 102, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(149, 255, 0);">
            <span class="letter-inner" style="">n</span>
        </span>
        <span class="char letter" style="color: rgb(13, 255, 0);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(149, 0, 255);">
            <span class="letter-inner" style="">m</span>
        </span>
        <span class="char letter" style="color: rgb(0, 17, 255);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(85, 0, 255);">
            <span class="letter-inner" style="">r</span>
        </span>
        <span class="char letter" style="color: rgb(0, 119, 255);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 179, 255);">
            <span class="letter-inner" style="">r</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(26, 255, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 0);">
            <span class="letter-inner" style="">c</span>
        </span>
        <span class="char letter" style="color: rgb(0, 68, 255);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 195);">
            <span class="letter-inner" style="">m</span>
        </span>
        <span class="char letter" style="color: rgb(170, 255, 0);">
            <span class="letter-inner" style="">i</span>
        </span>
        <span class="char letter" style="color: rgb(128, 255, 0);">
            <span class="letter-inner" style="">g</span>
        </span>
        <span class="char letter" style="color: rgb(255, 111, 0);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 187);">
            <span class="letter-inner" style="">?</span>
        </span>

        <br>

        <span class="char letter" style="color: rgb(255, 0, 187); font-size: 1.2rem;">
            <span class="letter-inner">(Agora de forma oficial)</span>
        </span>
    </div>
</div>
