
<div class="wrapper" *ngIf="!showLettersAnimated">
    <div class="frame frame1">
        <span class="letter-animate" style="color: rgb(0, 68, 255);">
            <span class="letter-item" style="">o</span>
        </span>
    </div>
    
    <div class="frame frame2">
        <span class="letter-animate" style="color: rgb(255, 0, 187);">
            <span class="letter-item" style="">?</span>
        </span>
    </div>

    <div class="frame frame3">
        <span class="letter-animate" style="color: rgb(13, 255, 0);">
            <span class="letter-item" style="">a</span>
        </span>
    </div>

    <div class="frame frame4">
        <span class="letter-animate" style="color: rgb(149, 0, 255);">
            <span class="letter-item" style="">m</span>
        </span>
    </div>

    <div class="frame frame5">
        <span class="letter-animate" style="color: rgb(251, 0, 255);">
            <span class="letter-item" style="">a</span>
        </span>
    </div>

    <div class="frame frame6">
        <span class="letter-animate" style="color: rgb(38, 255, 0);">
            <span class="letter-item" style="">q</span>
        </span>
    </div>

    <div class="frame frame7">
        <span class="letter-animate" style="color: rgb(153, 0, 255);">
            <span class="letter-item" style="">u</span>
        </span>
    </div>

    <div class="frame frame8">
        <span class="letter-animate" style="color: rgb(149, 255, 0);">
            <span class="letter-item" style="">n</span>
        </span>
    </div>

    <div class="frame frame9">
        <span class="letter-animate" style="color: rgb(85, 0, 255);">
            <span class="letter-item" style="">r</span>
        </span>
    </div>

    <div class="frame frame10">
        <span class="letter-animate" style="color: rgb(255, 255, 0);">
            <span class="letter-item" style="">P</span>
        </span>
    </div>

    <div class="frame frame11">
        <span class="letter-animate" style="color: rgb(255, 111, 0);">
            <span class="letter-item" style="">o</span>
        </span>
    </div>

    <div class="frame frame12">
        <span class="letter-animate" style="color: rgb(0, 255, 225);">
            <span class="letter-item" style="">a</span>
        </span>
    </div>

    <div class="frame frame13">
        <span class="letter-animate" style="color: rgb(255, 247, 0);">
            <span class="letter-item" style="">u</span>
        </span>
    </div>

    <div class="frame frame14">
        <span class="letter-animate" style="color: rgb(221, 0, 255);">
            <span class="letter-item" style="">e</span>
        </span>
    </div>

    <div class="frame frame15">
        <span class="letter-animate" style="color: rgb(128, 255, 0);">
            <span class="letter-item" style="">g</span>
        </span>
     
  
    </div>

    <div class="frame frame16">
        <span class="letter-animate" style="color: rgb(255, 213, 0);">
            <span class="letter-item" style="">i</span>
        </span>
    </div>

    <div class="frame frame17">
        <span class="letter-animate" style="color: rgb(255, 0, 195);">
            <span class="letter-item" style="">m</span>
        </span>
    </div>

    <div class="frame frame18">
        <span class="letter-animate" style="color: rgb(170, 255, 0);">
            <span class="letter-item" style="">i</span>
        </span>
      
    </div>

    <div class="frame frame19">
        <span class="letter-animate" style="color: rgb(0, 179, 255);">
            <span class="letter-item" style="">r</span>
        </span>

    </div>

    <div class="frame frame20">
        <span class="letter-animate" style="color: rgb(0, 119, 255);">
            <span class="letter-item" style="">a</span>
        </span>
    </div>

    <div class="frame frame21">
        <span class="letter-animate" style="color: rgb(0, 17, 255);">
            <span class="letter-item" style="">o</span>
        </span>
     
    </div>

    <div class="frame frame22">
        <span class="letter-animate" style="color: rgb(255, 200, 0);">
            <span class="letter-item" style="">r</span>
        </span>
   
    </div>

    <div class="frame frame23">
        <span class="letter-animate" style="color: rgb(0, 255, 0);">
            <span class="letter-item" style="">c</span>
        </span>

    </div>

    <div class="frame frame24">
        <span class="letter-animate" style="color: rgb(255, 213, 0);">
            <span class="letter-item" style="">i</span>
        </span>
    </div>

    <div class="frame frame25">
        <span class="letter-animate" style="color: rgb(238, 255, 0);">
            <span class="letter-item" style="">E</span>
        </span>
    </div>
</div>


<div class="anim-wrap" *ngIf="showLettersAnimated">
    <div class="anim-text anim" contenteditable="" data-effect="converge">
        <span class="char letter" style="color: rgb(238, 255, 0);">
            <span class="letter-inner" style="">E</span>
        </span>
        <span class="char letter" style="color: rgb(255, 213, 0);">
            <span class="letter-inner" style="">i</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 140);">
            <span class="letter-inner" style="">,</span>
        </span>

        <br>
        <span class="char space" style="color: rgb(0, 255, 55);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(255, 255, 0);">
            <span class="letter-inner" style="">P</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 225);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(255, 247, 0);">
            <span class="letter-inner" style="">u</span>
        </span>
        <span class="char letter" style="color: rgb(255, 30, 0);">
            <span class="letter-inner" style="">l</span>
        </span>
        <span class="char letter" style="color: rgb(251, 0, 255);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 170, 255);">
            <span class="letter-inner" style="">,</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(47, 255, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(38, 255, 0);">
            <span class="letter-inner" style="">q</span>
        </span>
        <span class="char letter" style="color: rgb(153, 0, 255);">
            <span class="letter-inner" style="">u</span>
        </span>
        <span class="char letter" style="color: rgb(221, 0, 255);">
            <span class="letter-inner" style="">e</span>
        </span>
        <span class="char letter" style="color: rgb(255, 200, 0);">
            <span class="letter-inner" style="">r</span>
        </span>
        <span class="char space" style="color: rgb(255, 102, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(149, 255, 0);">
            <span class="letter-inner" style="">n</span>
        </span>
        <span class="char letter" style="color: rgb(13, 255, 0);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(149, 0, 255);">
            <span class="letter-inner" style="">m</span>
        </span>
        <span class="char letter" style="color: rgb(0, 17, 255);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(85, 0, 255);">
            <span class="letter-inner" style="">r</span>
        </span>
        <span class="char letter" style="color: rgb(0, 119, 255);">
            <span class="letter-inner" style="">a</span>
        </span>
        <span class="char letter" style="color: rgb(0, 179, 255);">
            <span class="letter-inner" style="">r</span>
        </span>

        <br>

        <span class="char space" style="color: rgb(26, 255, 0);">
            <span class="letter-inner" style="">&nbsp;</span>
        </span>
        <span class="char letter" style="color: rgb(0, 255, 0);">
            <span class="letter-inner" style="">c</span>
        </span>
        <span class="char letter" style="color: rgb(0, 68, 255);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 195);">
            <span class="letter-inner" style="">m</span>
        </span>
        <span class="char letter" style="color: rgb(170, 255, 0);">
            <span class="letter-inner" style="">i</span>
        </span>
        <span class="char letter" style="color: rgb(128, 255, 0);">
            <span class="letter-inner" style="">g</span>
        </span>
        <span class="char letter" style="color: rgb(255, 111, 0);">
            <span class="letter-inner" style="">o</span>
        </span>
        <span class="char letter" style="color: rgb(255, 0, 187);">
            <span class="letter-inner" style="">?</span>
        </span>

        <br>

        <span class="char letter" style="color: rgb(255, 0, 187); font-size: 1.2rem;">
            <span class="letter-inner">(Agora de forma oficial)</span>
        </span>
    </div>
</div>